:root {
  --primarycolor: rgb(168, 82, 97);
  --secondarycolor: beige;
  --gray: rgb(204, 201, 201);
  --right: rgb(41, 128, 179);
  --done: rgb(25, 150, 150);
}

p {
  font-weight: bold;
}
p span {
  color: var(--primarycolor);
}
.choose {
  background-color: var(--primarycolor);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

a {
  color: var(--secondarycolor);
}
/* #loadingPage {
  background-color: var(--primarycolor);
  width: 100%;
  height: 100%;
  position: fixed;
  color: var(--gray);
  font-size: 100px;
} */
