:root {
  --primarycolor: brown;
  --secondarycolor: rgb(68, 67, 67);
}
body {
  font-size: 32px;
}
.azkarBox {
  border: 1px solid var(--primarycolor);
  border-radius: 10px;
}
.counter {
  background-color: var(--primarycolor);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: beige;
  font-weight: bold;
  cursor: pointer;
}
h1 {
  text-align: center;
  color: white;
  background-color: var(--primarycolor);
  margin-bottom: 0;
  border-radius: 10px;
  padding: 7px 0;
}
a {
  text-decoration: none;
  text-align: center;
  color: var(--secondarycolor);
  font-weight: bold;
}
