:root {
  --primarycolor: brown;
  --secondarycolor: rgb(68, 67, 67);
}

p {
  font-weight: bold;
}
p span {
  color: var(--primarycolor);
}
.choose {
  background-color: var(--primarycolor);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

a {
  color: white;
}
